@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap'); 

body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: black;
    gap: 140px;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(207, 204, 204);
    font-size: 24px;
}

.visual-container > p {
    font-family: 'Aboreto', 'Courier New', Courier, monospace;
    color:aliceblue;
    display: inline-flex;
    font-size: 60px;
    margin-top: 220px; 
    padding: 20px 40px;
    border-radius: 10%;
    background-color: rgba(71, 71, 111, 0.5);
}

.visual-container {
    height: 100vh;
    width: 100vh;
    background: url("bg.jpg");
    background-size: cover;
    text-align: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 60px; 
}

form {
    background: linear-gradient(0deg, rgba(42,65,135,.6) 0%, rgba(140,23,82,.6) 100%);
    padding: 40px;
    width: 600px;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(207, 204, 204);
    display: flex;
    justify-content: space-between;
    gap: 80px;
    flex-wrap: wrap;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

input {
    width: 240px;
    height: 36px;
    border-radius: 8px;
    border-style: none;
    background-color:rgb(207, 204, 204);
}

button {
    width: fit-content;
    padding: 16px 28px;
    font-size: 20px;
    border-radius: 8px;
    color:rgb(207, 204, 204);
    background: radial-gradient(circle, rgba(164,25,86,.6) 0%, rgba(15,56,103,.6) 100%);
    border-style:none;
}

input:invalid:required {
    border: 2px solid rgb(140, 5, 5);
}